<div class="body">
<div class="bootstrap-wrapper">
    <div class="container mt">
        <div class="row">
            <div class="col-md-6 offset-md-3" >
                <div class="container text-center" >
                    <img class="img-fluid" style="width:300px" src="https://media.istockphoto.com/vectors/vector-illustration-sign-up-arrow-label-vector-id1307908456?k=20&m=1307908456&s=612x612&w=0&h=c3JUTcA5Gcu7IJD07MiW-Ej3vt8hc5-WjpPLibM2s1o=" alt="">
                </div>
            <h1 class="text-center">SignUp</h1>
            
            <!-- form creation -->
                <form (ngSubmit)="onSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>UserName</mat-label>
                        <input 
                        [(ngModel)]="credentials.username"
                        required 
                        name="username"
                        type="text" matInput/>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input 
                        [(ngModel)]="credentials.password"
                        required 
                        name="username"
                        type="password" matInput/>
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="warn">Signup</button>
                        <button style="margin-left: 10px;" type="reset" mat-raised-button color="warn">Reset</button>
                    </div>
                </form>
                <br>
<!--                 <p class="mt" >{{credentials | json}}</p>
 -->        </div>
    </div>
    </div>
</div>
</div>
    

