/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.navbar a{
    color: black;
}
.mat-toolbar.mat-primary{
    background:rgb(230, 96, 96);
    color: #fff;
    
}
.spacer{
    flex: 1 1 auto;
    
}

