<div class="container-text-center">
  <h1> <marquee><mat-icon>sentiment_satisfied_alt</mat-icon>Welocome Passangers! Have A Safe Journey<mat-icon>sentiment_satisfied_alt</mat-icon></marquee></h1>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide >
          <img src="https://cdn.pixabay.com/photo/2018/02/03/17/45/transport-system-3128152__480.jpg">
        </ng-template>
        <ng-template carouselSlide>
          <img src="https://cdn.pixabay.com/photo/2019/05/12/20/06/train-4198987__480.jpg">
        </ng-template>
        <ng-template carouselSlide>
          <img src="https://cdn.pixabay.com/photo/2013/09/01/18/00/railbus-178156__480.jpg">
        </ng-template>
        <ng-template carouselSlide>
          <img src="https://cdn.pixabay.com/photo/2018/04/13/16/11/herman-national-park-3316920__480.jpg">
        </ng-template>
      </owl-carousel-o>
      

      
</div>

